
// media query break points
$largeDevices:         1200px;
$mediumDevices:        992px;
$smallDevices:         768px;
$extraSmallDevices:   576px;

$bodyFontFamily: Nunito, sans-serif;
$bodyTextColor: #333;
$bodyFontSize: 16px;

$containerWidth: 85%;
$containerMaxWidth: 1500px;

$headline1Size: 55px;
$headline2Size: 45px;
$headline3Size: 30px;
$headline4Size: 25px;
$headline5Size: 20px;
$headline6Size: 15px;
$headlinesLineHeight: 45px;

$sidebarBackgroundColor: #262930;
$contentBackgroundColor: #fff;

// Logo
$logoTextColor: #fff;
$logoTextSize: 32px;

// Tagline
$taglineTextColor: #e4e4e4;
$taglineFontSize: 14px;

// Sidebar Menu
$menuTextColor: #fff;
$menuItemFontHoverColor: #bdc7da;
$menuItemFontSize: 18px;
$menuItemPadding: 10px 0;
$menuItemTextTransform: uppercase;

// Drop Down Menu
$menuDropdownItemPadding: 5px 0 5px 20px;
$menuDropdownItemTextTransform: none;

// Social Icon
$socialIconColor: #fff;
$socialIconHoverColor: #cbd5e0;
$socialIconFontSize: 1.5rem;

// Footer
$footerTextColor: #eceef2;

// Widgets
$widgetPostTitleLinkColor: #ececec;
$widgetPostDateColor: #b1b1b1;

$postFeaturedImageHeight: 400px;
$postFeaturedImageHeightLargeDevices: 350px;
$postFeaturedImageHeightMediumDevices: 300px;
$postFeaturedImageHeightSmallDevices: 200px;