/** Content Index & Single pages Styles */
.content-index, .content-single {

    .post-content-wrapper {
        padding: 64px;

        // @media (max-width: $largeDevices) {
        //     height: 40vh;
        // }

        // @media (max-width: $mediumDevices) {
        //     height: 30vh;
        // }

        @media (max-width: $smallDevices) {
            padding: 20px;
        }
    }

    .post-featured-image {
        height: $postFeaturedImageHeight;
        background-size: cover;
        background-position: center;

        @media (max-width: $largeDevices) {
            height: $postFeaturedImageHeightLargeDevices;
        }

        @media (max-width: $mediumDevices) {
            height: $postFeaturedImageHeightMediumDevices;
        }

        @media (max-width: $smallDevices) {
            height: $postFeaturedImageHeightSmallDevices;
        }
    }

    .post .post-title-link {
        color: $postTitleFontColor;
    
        &:hover {
            color: $postTitleFontHoverColor;
            text-decoration: none;
        }
    }

    .post .post-meta {
        margin-bottom: 20px;
    }

    .post-meta-detail {
        display: flex;
        margin-right: 15px;
        color: $postMetaDetailsFontColor;
    }
    
    .post-author {
        display: flex;
        flex-direction: row;
        min-height: 100px;
        margin-bottom: 25px;

        .post-author-image {
            min-width: 120px;
            height: 115px;
            margin-right: 15px;

            @media (max-width: $smallDevices) {
                display: none;
            }

            img {
                width: 100px;
                border-radius: 50%;
            }
        }

        .post-author-details {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .post-author-bio {
            font-size: 14px;
        }

        .post-author-name {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 8px;
        }
    }
}

/* Content Index Page Styles */
.content-index {
    .post-image-link {
        display: block;
        margin: 0px;
    }

    .post-excerpt {
        margin: 15px 0 10px 0;
    }

    .post-footer {
        display: flex;
        justify-content: flex-end;
    }
}