body {
    overflow-x: hidden;
    font-family: $bodyFontFamily;
    font-size: $bodyFontSize;
    color: $bodyTextColor;
    line-height: 25px;
    height: 100%;
    background-color: #6C9AB1;
}

.website {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.sidebar {
    width: 25%;
    min-width: 320px;
    height: auto;
    padding: 20px 30px;
    margin-right: 0px !important;
    background-color: $sidebarBackgroundColor;
    display: flex;
    flex-direction: column;
    color: $menuItemFontColor;

    @media (max-width: $largeDevices) {
        padding: 20px;
    }

    @media (max-width: $mediumDevices) {
        width: 100%;
    }
}

.content {
    width: 75%;
    background-color: $contentBackgroundColor;

    @media (max-width: $mediumDevices) {
        width: 100%;
    }
}