body {
    overflow-x: hidden;
    font-family: $body-font-family;
    font-size: $body-font-size;
    color: $body-text-color;
    line-height: 25px;
    height: 100%;
    background-color: #6C9AB1;
}

.website {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.sidebar {
    width: 25%;
    min-width: 320px;
    height: auto;
    padding: 20px 30px;
    margin-right: 0px !important;
    background-color: $sidebar-bg;
    display: flex;
    flex-direction: column;

    @media (max-width: $large-devices) {
        padding: 20px;
    }

    @media (max-width: $medium-devices) {
        width: 100%;
    }
}

.content {
    width: 75%;
    background-color: $content-bg;

    @media (max-width: $medium-devices) {
        width: 100%;
    }
}