#navigation {
    display: block;
    margin-bottom: 30px;

    .no-menu {
        color: #fbfbfb;
        text-align: center;
    }

    .menu-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        user-select: none;

        i {
            color: $menuItemFontColor;
            font-size: $menuItemFontSize;
            cursor: pointer;
            padding: 0px;
        }

        a, span {
            cursor: pointer;
            font-size: $menuItemFontSize;
            color: $menuItemFontColor;
            padding: $menuItemPadding;
            text-transform: $menuItemTextTransform;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;

            &:hover {
                color: $menuItemFontHoverColor;
            }
        }
    }

    .dropdown-content {
        display: none;
        z-index: 1;
        width: 100%;
    }

    .drop-menu-item {
        display: flex;

        a {
            text-transform: $menuDropdownItemTextTransform;
            padding: 5px 0px 10px 20px;
        }
    }

    .dropdown-button-close {
        display: none;
    }
}

.sidebar-content-active {
    display: block !important;
}

.sidebar-content-inactive {
    @media (max-width: $mediumDevices) {
        display: none !important;
    }
}

.hamburger-button-wrapper {
    display: none;

    @media (max-width: $mediumDevices) {
        display: flex;
        justify-content: center;
    }
}

.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner::before, 
.hamburger.is-active .hamburger-inner::after {
    background-color: $menuItemFontColor;
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
    background-color: $menuItemFontColor;
}

.hamburger {
    outline: none !important;
    color: $menuItemFontColor !important;
}