/** Sidebar Widget */
.sidebar {
    header {
        height: auto;
        margin-bottom: 20px;

        .logo {
            display: flex;
            justify-content: center;
            padding: 15px 0;

            .logo-link {
                color: $logoFontColor;
                font-size: $logoFontSize;
            }
        }

        .tagline {
            display: flex;
            justify-content: center;
            text-align: center;
            color: inherit;
            font-size: $taglineFontSize;
            margin-bottom: 15px;
        }

        .social-media {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;

            i {
                font-size: $socialIconFontSize;
                color: $socialIconColor;
                padding-right: $socialIconPadding;
    
                &:hover {
                    color: $socialIconHoverColor;
                }
            }
        }
    }

    .sidebar-content-wrapper {
        display: block;

        @media (max-width: $mediumDevices) {
            display: none;
        }
    }

    footer {
        color: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .widget-group {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        margin-bottom: 30px;

        .widget .header {
            margin-bottom: 10px;
        }
        
        .widget .title {
            font-weight: 100;
            padding: 0px 0px;
            color: $widgetHeaderFontColor;
        }
    }
}