
// media query break points
$large-devices:         1200px;
$medium-devices:        992px;
$small-devices:         768px;
$extra-small-devices:   576px;


$menu-font-size: 18px;
$menu-text-color: #eceef2;

// Body
// $body-bg: #f5f8fa;

// Typography
// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// $font-family-sans-serif: "Raleway", sans-serif;
// $font-size-base: 14px;
// $line-height-base: 1.6;
// $text-color: #636b6f;

// Navbar
// $navbar-default-bg: #fff;

// Buttons
// $btn-default-color: $text-color;

