#navigation {
    display: block;

    .menu {
        padding-bottom: 30px;
    }

    .menu-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        i {
            color: $menu-text-color;
            font-size: $menu-item-font-size;
            cursor: pointer;
            padding: 0px;
        }

        a {
            font-size: $menu-item-font-size;
            color: $menu-text-color;
            padding: $menu-item-padding;
            text-transform: $menu-item-text-transform;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;

            &:hover {
                color: $menu-item-text-hover-color;
            }
        }
    }

    .dropdown-content {
        display: none;
        z-index: 1;
        width: 100%;
    }

    .drop-menu-item {
        display: flex;

        a {
            text-transform: $menu-dropdown-item-text-transform;
            padding: 5px 0px;
            padding-left: 20px;
        }
    }

    .dropdown-button-close {
        display: none;
    }
}

.sidebar-content-active {
    display: block !important;
}

.sidebar-content-inactive {
    @media (max-width: $medium-devices) {
        display: none !important;
    }
}

.hamburger-button-wrapper {
    display: none;

    @media (max-width: $medium-devices) {
        display: flex;
        justify-content: center;
    }
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: $menu-text-color;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: $menu-text-color;
}

.hamburger {
    outline: none !important;
    color: $menu-text-color !important;
}